/*
	CSS Rules:
	selector {
	     property: value;
	}

*/
/*Type Selector*/
h1 {
	color: green !important;
	text-align: center;
	font-size: 2rem;
}

/*Universal selector*/
*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*ID selector*/
#zuitt-motto {
	/*	changes spaces in between characters of text*/
	letter-spacing: 5px;
}

/*class selector*/
.offering-item {
		/*	changes font to a certain case*/
	text-transform: uppercase;
}

/*attribute selector*/
[required] {
	/* thickness of border	*/
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

h3 {
	letter-spacing: 25px;
}

/*selector combinators*/
/*adjacent sibling selector*/
h3 + img{
	height: 300px;
	width: 300px;
	border-radius: 50%;
}

/*child selector*/
 body > section > ol > li {
	color: #E0AE44;
}

/*general sibling selector*/
h2 ~ a {
	text-decoration: none;
}

/*descendant*/
#register label {
	color: rgb(0,0,128);
}

body {
	background-color: skyblue;
}

html {
	scroll-behavior: smooth;
}

nav {
	background-color: white;
}

a:hover {
	background-color: #b4d6de;
}

div {
	display: inline-block;
	float: right;
}

section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

ol {
	list-style-type: none;
}

h2 + form {
	text-align: center;
	background-color: white;
	position: relative;
	width: 25vw;
	height: 185px;
	border: 2px solid black;
	left: 37.5%;

}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}