#external-style {
	color: blue;
}

*{
	font-family: "Courier New", monospace;
	font-size: 15px;
}

h1 {
	font-size: 25px;
}

#bootcamp-learn {
	text-transform: uppercase;
}

.language-learn {
	background-color: seagreen;
}

[required] {
	border: 1px;
	border-color: skyblue;
	border-style: solid;
}

img + ul {
	list-style-type: none;
}

#css-intro img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

h3 ~ p {
	text-align: center;
}

body > section > ul > li {
	letter-spacing: 5px;
}
